<a href="https://colab.research.google.com/github/GARCIA-Amwell/58010-DSAA/blob/main/Activity_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Test Content**

1. Write a Python program to create an array of 10 integers and display the array items. Access individual elements through indexes and compute for the sum.
2. Write a Python program to append a new item to the end of the array. Original array: numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
3. Write a Python program to insert a new item before the second element in an existing array. Original array: numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
4. Write a Python program to reverse the order of the items in the array.Original array: numbers = [5, 4, 3, 2, 1]
5. Write a Python program to get the length of the array. Original array: numbers = [5, 4, 3, 2, 1]

**#1**

In [34]:
arrays = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
for x in arrays:
    print (x)
ans = sum(arrays)
print ('Sum of the Array is: ', ans)

1
2
3
4
5
6
7
8
9
10
Sum of the array is:  55

In [36]:
arrays = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
arrays[0] = 1
arrays[1] = 2
arrays[2] = 3
arrays[3] = 4
arrays[4] = 5
arrays[5] = 6
arrays[6] = 7
arrays[7] = 8
arrays[8] = 9
arrays[9] = 10
for x in arrays:
    print (x)
ans = sum(arrays)
print ('Sum of the Array is: ', ans)

1
2
3
4
5
6
7
8
9
10
Sum of the Array is:  55

**#2**

In [15]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
numbers.append(1000)
print(numbers)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 1000]

**#3**

In [8]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
numbers[3] = 11, 12
print(numbers)

[1, 2, 3, (11, 12), 5, 6, 7, 8, 9, 10]

**#4**

In [3]:
nums = [5, 4, 3, 2, 1]
nums.sort()
print('List in Ascending Order: ', nums)

List in Ascending Order:  [1, 2, 3, 4, 5]

**#5**

In [4]:
numbers = [5, 4, 3, 2, 1]
x = len(numbers)
print(x)

5